<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/app_music_player"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_music_player_round"
        android:supportsRtl="true"
        android:theme="@style/splash_screen">
        <activity
            android:name=".Authentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".SelectionActivity"
            android:exported="false" />
        <activity
            android:name=".PlaylistDetails"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PlaylistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true" />
    </application>

</manifest>