<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appmusicsamsung1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    
    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/app_music_player"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_music_player_round"
        android:supportsRtl="true"
        android:theme="@style/splash_screen"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".PlaylistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MusicService"/>
        
        <receiver android:name=".NotificationReceiver"
            android:enabled="true"/>
    </application>

</manifest>